:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --description-text-color: #757575;
  --white-color: #ffffff;
  --background-bt: #f5f4fa;
  --logo-color: #000000;
  --hero-footer-bkrnd-color: #2f303a;
  --main-bkrnd-color: #f5f5f5;
  --team-bkrnd-color: #f5f4fa;
}

body {
  font-family: var(--main-font);
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ===Start components=== */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ===End components=== */

/*===Start header===*/
.header {
  background-color: var(--white-color);
  padding-top: 24px;
  padding-bottom: 25px;
  height: 80px;
  border: 1px solid #ECECEC;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
  align-items: center;
}

.header-span-studio {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
}

.site-nav {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-list-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.header-list-link:hover,
.header-list-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contact-item:not(:last-child) {
  margin-right: 50px;
}

.header-contact-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--description-text-color);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

/*===End header===*/

/*===Start hero===*/

.hero {
  background-color: var(--hero-footer-bkrnd-color);
}
.hero .container {
  height: 600px;
}

.hero-title {
  margin: auto;
  padding-top: 200px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 696px;
}

.modal-btn {
  display: block;
  margin: auto;
  min-width: 216px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 30px;
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* ===end hero===*/

/*===Start about===*/

.about {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.about-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100%-120px) / 4);
}

.about-title {
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-text {
  line-height: 1.71;
  color: var(--description-text-color);
}

/*===End about===*/

/*===Start work===*/

.work-section {
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.work-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100%-60px) / 3);
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/*===End work===*/

/*===Start team===*/
.team {
  background-color: var(--team-bkrnd-color);
}

.team-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.team-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100%-120px) / 4);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team-member-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--description-text-color);
}

/*===End team===*/

/*===Start footer===*/

.footer .container {
  height: 252px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  padding-top: 60px;
}
.address {
  font-style: normal;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-span-studio {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
}

.footer-address {
  line-height: 1.71;
  color: var(--white-color);
}

.footer-contact {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address:hover,
.footer-address:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

.footer {
  background-color: var(--hero-footer-bkrnd-color);
}

/*===End footer===*/

/*=====Portfolio=====*/

  /* ===Buttons=== */

.portfolio-section {
  display: flex;
  padding-top: 94px;
  padding-bottom: 50px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-bottom: -8px;
  justify-content: center;
}

.portfolio-item {
  margin-left: 8px;
  margin-bottom: 8px;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: inherit;
  color: inherit;
  cursor: pointer;
  padding: 6px 22px;

  background: var(--background-bt);
  border-radius: 4px;
  padding: 6px 22px;
}

.btn-first {
  min-width: 73px;
}

.btn-second {
  min-width: 125px;
}

.btn-third {
  min-width: 112px;
}

.btn-fourth {
  min-width: 103px;
}

.btn-fifth {
  min-width: 130px;
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
  /* ===End buttons=== */

  /* ===Start galary=== */

.galary-section {
  padding-bottom: 94px;
}

.galary-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.galary-item {
  margin-left: 30px;
  margin-bottom: 30px;
  /* flex-basis: calc((100%-90px)/3); */
}

.galary-discription {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.galary-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.galary-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--description-text-color);
}
